table {
  border-collapse: collapse;

  & th,
  td {
    border: 1px solid;
  }
}

form {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 256px;
  padding: 32px;
  border-radius: 24px;

  > label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
